<div class='col'>
  <div class='container'>
<%= simple_form_for(@vehicule) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class='row'>
      <%= f.association :user, :as => :hidden, :input_html => { :value => current_user.id } %>
      <div class='col'>
        <div class="form-group string required vehicule_contact_id">
          <label class="form-control-label string optional" for="vehicule_contact_id">Fournisseur : </label>
          <select class="form-control select required" name="vehicule[contact_id]" id="vehicule_contact_id">
            <option></option>
            <% @fournisseurs.each do |f| %>
              <option value="<%= f.id %>" <% if @vehicule.contact_id == f.id %> selected <% end %>><%= f.raisonsociale %> <%= f.prenom %> <%= f.nom %> </option>
            <% end%>
          </select>
        </div>
      </div>
      <div class='col'>
        <div class="form-group string required vehicule_commande_id">
          <label class="form-control-label string optional" for="vehicule_commande_id">Commande : </label>
          <select class="form-control select required" name="vehicule[commande_id]" id="vehicule_commande_id">
            <option></option>
            <% @commandes.each do |c| %>
              <option value="<%= c.id %>" <% if @commande.id == c.id %> selected <% end %>><%= c.marque %> <%= c.modele %> - <%= c.contact.nom %> <%= c.contact.prenom %> </option>
            <% end%>
          </select>
        </div>
      </div>
      <div class='col'>
        <%= f.input :prixht %>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
        <div class="card">
          <div class="card-body">
            <div class='row'>
              <div class='col'>
                <%= f.input :marque, input_html: { value: @commande.marque }%>
                <%= f.input :modele, input_html: { value: @commande.modele } %>
                <%= f.input :finition, input_html: { value: @commande.finition } %>
                <%= f.input :couleur, input_html: { value: @commande.couleur } %>
                <%= f.input :categorie, input_html: { value: @commande.categorie } %>
                <div class="form-group string optional vehicule_boite">
                  <label class="form-control-label string optional" for="vehicule_boite">Transmission : </label>
                  <select class="form-control select optional" name="vehicule[boite]" id="vehicule_boite">
                    <option></option>
                    <option value="Manuelle" <% if @commande.transmission== 'Manuelle' %> selected <% end %>>Manuelle</option>
                    <option value="Automatique" <% if @commande.transmission== 'Automatique' %> selected <% end %>>Automatique</option>
                    <option value="Semi-Automatique" <% if @commande.transmission == 'Semi-Automatique' %> selected <% end %>>Semi-Automatique</option>
                  </select>
                </div>
                <div class="form-group string optional vehicule_carburant">
                  <label class="form-control-label string optional" for="vehicule_carburant">Carburant : </label>
                  <select class="form-control select optional" name="vehicule[carburant]" id="vehicule_carburant">
                    <option></option>
                    <option value="Essence" <% if @commande.carburant == 'Essence' %> selected <% end %>>Essence</option>
                    <option value="Diesel" <% if @commande.carburant == 'Diesel' %> selected <% end %>>Diesel</option>
                    <option value="Hybride" <% if @commande.carburant == 'Hybride' %> selected <% end %>>Hybride</option>
                    <option value="Electrique" <% if @commande.carburant == 'Electrique' %> selected <% end %>>Électrique</option>
                    <option value="Agro-carburant" <% if @commande.carburant == 'Agro-carburant' %> selected <% end %>>Agro-carburant</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <%= f.input :km, input_html: { value: @commande.km } %>
                <%= f.input :co2, input_html: { value: @commande.co2 } %>
                <%= f.input :cylindree, input_html: { value: @commande.puissance } %>
                <%= f.input :cv %>
                <%= f.input :cvfiscaux %>
                <%= f.input :chassis %>
                <%= f.input :immat %>
              </div>
            </div>


    <%= f.input :equipement, input_html: { value: @commande.options } %>
    <%= f.button :submit, value: 'Créer le véhicule' %>
  </div>


<% end %>
