<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @vehicule.user %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @vehicule.contact %>
</p>

<p>
  <strong>Commande:</strong>
  <%= @vehicule.commande %>
</p>

<p>
  <strong>Marque:</strong>
  <%= @vehicule.marque %>
</p>

<p>
  <strong>Modele:</strong>
  <%= @vehicule.modele %>
</p>

<p>
  <strong>Finition:</strong>
  <%= @vehicule.finition %>
</p>

<p>
  <strong>Categorie:</strong>
  <%= @vehicule.categorie %>
</p>

<p>
  <strong>Boite:</strong>
  <%= @vehicule.boite %>
</p>

<p>
  <strong>Cylindree:</strong>
  <%= @vehicule.cylindree %>
</p>

<p>
  <strong>Cv:</strong>
  <%= @vehicule.cv %>
</p>

<p>
  <strong>Cvfiscaux:</strong>
  <%= @vehicule.cvfiscaux %>
</p>

<p>
  <strong>Couleur:</strong>
  <%= @vehicule.couleur %>
</p>

<p>
  <strong>Chassis:</strong>
  <%= @vehicule.chassis %>
</p>

<p>
  <strong>Carburant:</strong>
  <%= @vehicule.carburant %>
</p>

<p>
  <strong>Immat:</strong>
  <%= @vehicule.immat %>
</p>

<p>
  <strong>Km:</strong>
  <%= @vehicule.km %>
</p>

<p>
  <strong>Co2.string:</strong>
  <%= @vehicule.co2 %>
</p>

<p>
  <strong>Prixht:</strong>
  <%= @vehicule.prixht %>
</p>

<%= link_to 'Edit', edit_vehicule_path(@vehicule) %> |
<%= link_to 'Back', vehicules_path %>
