<table id="tablesorter" class="tablesorter table table-hover table-sm">
  <thead>
    <tr>
      <th><%= fa_icon("barcode") %></th>
      <th>Etat</th>
      <th>Client</th>
      <th>Marque</th>
      <th>Modèle</th>
      <th>Finition</th>
      <th>Catégorie</th>
      <th>Année</th>
      <th>Km</th>
      <th>Transmission</th>
      <th>Carburant</th>
      <th>Couleur</th>
      <th>Options</th>
      <th>Créée le</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commandes.each do |commande| %>
      <tr class="
        <% if commande.etat == 'Urgent' %> table-warning
        <% elsif commande.etat == 'En retard' %> table-danger
        <% elsif commande.etat == 'En cours' %> table-info
        <% end %>">
        <td><%= commande.id %></td>
        <td><%= commande.etat %></td>
        <td><%= commande.contact.raisonsociale %> <%= commande.contact.prenom %> <%= commande.contact.nom %></td>
        <td><%= commande.marque %></td>
        <td><%= commande.modele %></td>
        <td><%= commande.finition %></td>
        <td><%= commande.categorie %></td>
        <td><%= commande.anneemin %> - <%= commande.anneemax %></td>
        <td><%= commande.km %></td>
        <td><%= commande.transmission %></td>
        <td><%= commande.carburant %></td>
        <td><%= commande.couleur %></td>
        <td><%= commande.options %></td>
        <td><%= commande.created_at.strftime("%d/%m/%Y %R") %> par <%= commande.user.email if commande.user %></td>
        <td><%= link_to 'Consulter', commande %></td>
        <td><%= link_to 'Modifier', edit_commande_path(commande) %></td>
        <td><%= link_to 'Supprimer', commande, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
