<div class="container mt-3">
  <div class="row justify-content-md-center mb-3">
    <div class="col-lg-6">
      <h1 class="text-center mb-3"><%= fa_icon('dashboard') %> JnS Gestion</h1>
      <h2 class="text-center">Mot de passe perdu ?</h2>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Ré-initialiser le mot de passe", class: 'btn btn-lg btn-danger btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row mt-3 justify-content-md-center">
    <div class="col-lg-6">
      <div class="row">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
