<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <a class="navbar-brand" href="<%= root_path %>"><%= fa_icon('dashboard') %> J&S Gestion</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= fa_icon('plus') %> Ajouter
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= new_contact_path%>"><%= fa_icon('user') %> Contact</a>
          <a class="dropdown-item" href="<%= new_commande_path%>"><%= fa_icon('shopping-basket') %> Commande</a>
          <a class="dropdown-item" href="<%= new_vehicule_path%>"><%= fa_icon('car') %> Véhicule</a>
        </div>
      </li>
      <li class="nav-item <% if request.path.start_with?('/clients') %>active<% end %>">
        <a class="nav-link" href="/clients"><%= fa_icon('users') %> Clients</span></a>
      </li>
      <li class="nav-item <% if request.path.start_with?('/fournisseurs') %>active<% end %>">
        <a class="nav-link" href="/fournisseurs"><%= fa_icon('industry') %> Fournisseurs</a>
      </li>
      <li class="nav-item <% if request.path.start_with?('/commandes') %>active<% end %>">
        <a class="nav-link" href="<%= commandes_path %>"><%= fa_icon('shopping-basket') %> Commandes</a>
      </li>
      <li class="nav-item <% if request.path.start_with?('/vehicules') %>active<% end %>">
        <a class="nav-link" href="<%= vehicules_path %>"><%= fa_icon('car') %> Véhicules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"><%= fa_icon('money') %> Achats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"><%= fa_icon('truck') %> Transports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"><%= fa_icon('truck') %> Stock</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"><%= fa_icon('archive') %> Archives</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
    </form>
  </div>
</nav>
