
<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Type de contact</label>
      <select class="form-control" id="contact_categorie" name="contact[categorie]">
        <option value="Client">Client</option>
        <option value="Fournisseur">Fournisseur</option>
      </select>
    </div>
    <%= f.input :nom %>
    <%= f.input :prenom %>
    <%= f.input :adresse %>
    <%= f.input :complementadresse %>
    <%= f.input :cp %>
    <%= f.input :ville %>
    <%= f.input :pays %>
    <%= f.input :raisonsociale %>
    <%= f.input :tel %>
    <%= f.input :mobile %>
    <%= f.input :email %>
    <%= f.input :activite %>
    <%= f.input :url %>
    <%= f.input :siret %>
    <%= f.input :tva %>
    <%= f.input :commentaire %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
