<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th><%= fa_icon("barcode") %> Code client</th>
      <th><%= fa_icon("id-card") %> Nom</th>
      <th><%= fa_icon("id-card") %> Prénom</th>
      <th><%= fa_icon("bars") %> Raison sociale</th>
      <th><%= fa_icon("envelope") %> Email</th>
      <th><%= fa_icon("phone") %> Tel</th>
      <th><%= fa_icon("mobile") %> Mobile</th>
      <th><%= fa_icon("barcode") %> Siret</th>
      <th><%= fa_icon("globe") %> Pays</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.id %></td>
        <td><a href="<%= contact_path(contact) %>"><%= contact.nom %></a></td>
        <td><a href="<%= contact_path(contact) %>"><%= contact.prenom %></a></td>
        <td><a href="<%= contact_path(contact) %>"><%= contact.raisonsociale %></a></td>
        <td><%= contact.email %></td>
        <td><%= contact.tel %></td>
        <td><%= contact.mobile %></td>
        <td><%= contact.siret %></td>
        <td><%= contact.pays %></td>
        <td><%= link_to 'Modifier', edit_contact_path(contact) %></td>
        <td><%= link_to 'Supprimer', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
